/* =============== Mobile View Responsive design ==========================*/
@media (max-width:620px){
    .sec-bg{
        background-color: #fff;
    }
    .category-item-search{
        border: 1px solid #a0a2a3;
        width: 100%;
    }

    /* Popular Services  */
    .sec-heading-title h3 {
        font-size: 20px;
    }
    .nd-catg-wrap { 
        height: 100px; 
        padding: 0;
        margin: 0;
    }
    .nd-catg-icon img{
        width:40px;
         height: 40px;
    }
    .nd-catg-icon {
        height: 40px;
    background: none !important;
    }
    .nd-catg-caption h4{
        font-size: 12px;
    }
    /* Advertiesment banner style */
    .advertiesment-banner { 
        height: 390px!important;
    }
    
    .counter-effect:before { 
        left: 111px;
        bottom: -10px;
        width: 140px; 
    }
    /* popural outlet */
    .our-popular img {
        height: 140px!important;
    }
    /* Footer banner */
    .footer-banner {
        height: 55px!important;
        margin-bottom: 120px;
    }
    .iphoneBack { 
        margin-left: 82px;
    }
}

/* ======================== Tablate View Responsive Design ==================================== */
  @media (min-width:820px){
    .location-search, .category-item-search{
        width: 40%;
    }
 
}  
