/* =============== Mobile View Responsive design ==========================*/
@media (max-width:620px){
    .sec-bg{
        background-color: #fff;
    }
    .category-item-search{
        border: 1px solid #a0a2a3;
        width: 100%;
    }

    /* Popular Services  */
    .sec-heading-title h3 {
        font-size: 20px;
    }
    .nd-catg-wrap { 
        height: 100px; 
        padding: 0;
        margin: 0;
    }
    .nd-catg-icon img{
        width:40px;
         height: 40px;
    }
    .nd-catg-icon {
        height: 40px;
    background: none !important;
    }
    .nd-catg-caption h4{
        font-size: 12px;
    }
    /* Advertiesment banner style */
    .advertiesment-banner { 
        height: 390px!important;
    }
    
    .counter-effect:before { 
        left: 111px;
        bottom: -10px;
        width: 140px; 
    }
    /* popural outlet */
    .our-popular img {
        height: 140px!important;
    }
    /* Footer banner */
    .footer-banner {
        height: 55px!important;
        margin-bottom: 120px;
    }
   /* ========================================================================
                         Service listing page Responsive
    ===========================================================================*/
   .input-group { 
    align-items: center; 
    border: 1px solid #c5c0c0 !important;
}

/*===================== Right Section =================== */
.vrt-list-wrap {
    border: 1px solid #FEA800;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #ffb34d, 0px 0px 4px #ffb34d;
}
.vrt-list-wrap-head {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.vrt-list-thumb {
    min-width: 120px !important;
    margin: 0px;
}
.vrt-list-thumb .vrt-list-thumb-figure img {
    height: 130px !important;
    width: 107px !important; 
    border-radius: 8px;
}
.shop-title{
    font-size: 16px;
}
.line-height-1 {
    line-height: 1 !important;
}
.mobile-service-title {
    font-size: 13px;
}
.vrt-list-amenties ul li {
    margin: 0 !important;
    font-size: 10px !important;
}

/* =================================business-details-banner section style ====================== */
.business-details-banner{
    width: 100%;
    height: 160px; 
    background-image:none!important;
}
.profile-title-box{
    width: 100%!important;
}
.busines-details-profile-image {
    width: 181px;
    height: 150px; 
}
}

/* ======================== Tablate View Responsive Design ==================================== */
  @media (min-width:820px){
    .location-search, .category-item-search{
        width: 40%;
    }
    .business-details-banner {
        width: 100%;
        height: 271px;
    }
     
}  
