@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carme&family=Port+Lligat+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carme&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Port+Lligat+Sans&display=swap');

/*  ================ Table of Content End ================
        1. Fonts
        2. Reset
        3. Variables
        4. Global
        5. Header
        6. Home
        

    ================ Table of Content End ================ */
/*------------------------------------------------------------
	Page Loading
-------------------------------------------------------------*/
/* .no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.counter {
    animation-duration: 1s;
    animation-delay: 0s;
}

.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: url(../image/loader.gif) center no-repeat #1c1c1c;
} */
/* ********************* Sticky Cllasses ********************* */

.sticky {
    position: fixed;
    top: 0 !important;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--green-light);
    box-shadow: 0 13px 35px -12px rgba(61, 82, 96, .2);
    animation: stickyMenu 0.75s ease-in-out;
}

@keyframes stickyMenu {
    0% {
        margin-top: -120px;
        opacity: 0;
    }

    50% {
        margin-top: -64px;
        opacity: 0;
    }

    100% {
        margin-top: 0px;
        opacity: 1;
    }
}
/*======== Fonts ======== */
.carme {
    font-family: 'Carme', sans-serif;
}

.mont-regular {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.port {
    font-family: 'Port Lligat Sans', sans-serif;
    font-weight: 400;
}

.mont-medium {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/*======== Fonts Size ======== */
.fs-10 {
    font-size: 10px;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-19 {
    font-size: 19px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-30 {
    font-size: 30px;
}

.fw-medium {
    font-weight: 500;
}

/* ======== Reset ======== */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:active,
a:focus {
    outline: none;
}


/* ======== Variables ========*/

:root {
    --green: #008000;
    --green-light: #e9f8eb;
    --section-bg: #f4f4f7;
}


/* ======== Global ========*/

html {
    scroll-behavior: smooth;
}

body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: 'Jost', sans-serif;
}

.gap {
    gap: 10px;
}
.sec-margin-bootom{
    margin-bottom: 100px;
}
/* ======== BackGround ========*/
.bg-green {
    background-color: var(--green);
}

.sec-bg {
    background: var(--section-bg);
}

/* ======== Color ========*/
.color-green {
    color: var(--green);
}

.sec-heading-title {
    color: #313030;
}

/* ======== Hover ========*/
.hover-green:hover {
    color: var(--green);
}

.hover-bg-green:hover {
    background: var(--green);
}

/* Mobile Navbar top style*/
.header{
    height: 67px;
}
.mobile-Navbar {
    width: 50px;
    height: 50px;
    background: #f4e5ea;
    border-radius: 50%;
}
.mobile-Navbar img{
    border-radius: 100%; 
     width:50px; 
     height:50px;
}
.nav-menu>li>a {
    padding: 9px 15px 9px 26px;
}
.nav-menu>li {
    width: 100%;
    position: relative;
    border-top: solid 1px #f0f0f0;
}
.mobile-menu-social-icon{
    width:20px;
    height:20px;
    margin-right: 16px;
}
.left-slidebar-img-box {
    width: 70px;
    height: 70px;
    border: 1px solid green;
    border-radius: 100%;
    margin: 12px 15px 12px 26px;
}
/*================================ Home Page style ================================ */

  .home-banner h1{
    font-size: 50px;
}  
.location-search,
.category-item-search {
    background: #fff;
    border: none;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 30%;
}

.main-search .form-control {
    background: #fff;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.main-search-button .btn {
    height: 56px;
    width: 120px;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.main-search .form-control::placeholder {
    color: #000;
}


/*================================ Popular Services Category ================================ */
.sec-heading-title h2 {
    font-size: 30px;
}

.nd-catg-wrap {
    position: relative;
    width: 100%;
    padding: 1rem 1rem;
    height: auto;
    /* background: #ffffff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    margin-bottom: 30px;
    transition: all ease 0.4s;
}

.nd-catg-wrap:hover,
.nd-catg-wrap:focus,
.nd-catg-wrap:active {
    box-shadow: 0 3px 5px #96f296;
    border: 1px solid #96f296;
}

.nd-catg-icon {
    width: 89px;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    border-radius: 50%;
    background: rgb(244 27 59 / 7%);
    font-size: 28px;
    color: green;
    transition: all ease 0.4s;
    overflow: hidden;
}

.nd-catg-icon img {
    width: 70px;
    height: 70px;
}

.nd-catg-wrap:hover .nd-catg-icon,
.nd-catg-wrap:focus .nd-catg-icon,
.nd-catg-wrap:active .nd-catg-icon {
    color: #ffffff;
    background: green;
}

.nd-catg-caption h4 {
    font-size: 16px;
}

/*=========================== advertiesment-banner ======================== */
.advertiesment-banner {
    /* padding: 0!important; */
    width: 100%;
    height: 257px;
    background-image: url('../image/banner22.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.counter-effect:after {
    content: "";
    position: absolute;
    top: 23px;
    right: -8px;
    width: 1px;
    height: 128px;
    background: linear-gradient(0deg, rgba(45, 148, 73, 0.38) 0%, rgba(45, 113, 51, 1) 51%, rgba(45, 148, 73, 0.3785889355742297) 96%);
}

.counter-effect:before {
    content: "";
    position: absolute;
    left: 103px;
    bottom: 0;
    width: 140px;
    height: 1px;
    background: linear-gradient(90deg, rgba(45, 148, 73, 0.38) 0%, rgba(45, 113, 51, 1) 51%, rgba(45, 148, 73, 0.3785889355742297) 96%);

}

/* mobile view card banner */
.Mobile-view-card-body {
    background-color: #15596F !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.custome-locatin-img {
    height: 100px;
}

.banner img {
    height: 150px;
}

/* Popular Services scrolabel */
.no-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Popular {
    background-color: #d3d3d2 !important;
    margin-top: -31px;
    opacity: 0.8;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Popular-shopsi-title {
    bottom: -10px;
    background: rgba(0, 0, 0, 0.8) !important;
    width: 80%;
}

/* ******************************Popular Outlet ************************ */
.popular-parents {
    transition: all 0.5s ease-in-out;

}

.popular-parents:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgb(30 32 46 / 8%);
    border: 1px solid #96f296;
    border-radius: 10px;
}

.our-popular img {
    height: 250px;
    width: 360px !important;
    object-fit: cover;
}

/******************************* Download the AAp banner **********************/
.bg-light-danger {
    background-color: #ffeced;
}

/* ======================= Mobil View ====================== */

.iphone-back{ 
    background: url('../image/iphone-back.png')   ; 
    height: 495px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.iphoneBack {
    background: url('../image/iphone.png') no-repeat center top;
    height: 495px;
    margin-top: 65px;
}

.iphoneBack .screen {
    padding: 0 0px 0px;
    height: 340px;
    /* background: #242a2f; */
    overflow: hidden;
    width: 160px;
    margin: 0 auto 0;
    position: relative;
    top: 36px;
    /* left: 192px; */
}
 

.swiper-container {
    width: 100%;
    overflow: hidden;
    height: 100%;

}

.swiper-wrapper {
    height: 100%;
    width: 100%;
}

.swiper-container img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.mySlides {
    display: none;
}

/* Footer Banner */
.footer-banner {
    padding: 0 !important;
    width: 100%;
    height: 75px;
    background: linear-gradient(90deg, rgba(44, 74, 26, 0.804359243697479) 0%, rgba(45, 148, 73, 0.9780287114845938) 96%);
}

.form-control.cus-form {
    height: 33px !important;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 1px;
    border-color: #eee;
    color: #2b2e30;
    box-shadow: none!important;

}

.cus-btn {
    height: 33px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 6px 15px!important; */
}

/*========================= Footer Styling Section ================== */
footer {
    z-index: 99;
    font-size: 14px;
    color: #565656;
    position: relative;
}

.br-top {
    border-top: 1px solid #eef2f5 !important;
}

.footer_widget {
    text-align: left;
    padding: 60px 0 25px;
}

img.img-footer.small {
    margin: 0;
    max-width: 150px;
    position: relative;
    top: 2px;
}

h4.widget_title {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}

.footer_widget ul {
    padding: 0;
    margin: 0;
    padding: 0 15px;
}

.footer_widget ul li {
    list-style: none;
    margin-top: 5px;
    display: block;
}

.footer_widget ul li a {
    color: #60626a;
    font-size: 14px;
}

.footer_widget ul.list-inline li,
ul.list-inline li {
    display: inline-block;
    margin-right: 15px;
}

/******************************* Mobile Footer ********************* */
.modal-backdrop {
    z-index: 1043 !important;
}

.bottom-nav {
    box-shadow: 0px -3px 2px 0px #eeeeee;
} 

.bottom-nav-list {
    height: 75px
}

.bottom-nav-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.addbusiness-icon {
    width: 70px !important;
    height: 70px !important;
    border-radius: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background: #000 !important;
    color: #fff !important;
    border: 5px solid #f2f2f2;
}

.border-btm {
    border-bottom: 5px solid #dee2e6 !important;
}

/* ========================================================================
                         Service listing page style
============================================================================*/
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.input-group > .form-control{
height: 54px !important;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 1px;
    border-color: transparent!important;
    color: #2b2e30;
    box-shadow: none!important;
    outline: none!important;
}
.input-group>.form-control, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
.btn-successsendotp {
    padding: 12px 25px;
    color: #fff;
    background-color: var(--green)!important;
    border-color:var(--green) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    border-radius: -0.9rem; 
}
/* Service listing sidebar styleing */
.side-filter-box {
    background: #ffffff;
    border-radius: 6px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: sticky;
    padding: 1rem;
    top: auto;
    align-self: flex-end;
    bottom: 0;
}
.inner_widget_link {
    padding: 1rem 0;
    border-bottom: 1px solid #eeeeee;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
    margin-left: 0;
}
.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;
}
input {
    font-size: 18px;
    padding: 5px;
    height: 35px;
    width: 350px;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 5px;
}
.checkbox-custom-label, .radio-custom-label {
    position: relative;
    width: 100%;
    font-size: 14px;
}
.checkbox-custom:checked+.checkbox-custom-label:before {
    background: rgba(5, 175, 120, 0.1);
    border-radius: 2px;
    border: none;
}

.checkbox-custom+.checkbox-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #dae3ec;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}
.checkbox-custom:checked+.checkbox-custom-label:after {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 10px;
    color: var(--green);
}
.d14ixh {
    color: #cc0000 !important;
}

/* Service listing right section */
.vrt-list-wrap {
    position: relative;
    background: #ffffff;
    margin-bottom: 30px;
    border-radius: 6px;
    display: block;
}
.vrt-list-wrap-head {
    position: relative;
    display: flex;
    padding: 0.5rem;
    flex-wrap: initial;
    /* align-items: center; */
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.vrt-list-thumb {
    flex: 1;
    margin-right: 1rem;
    border-radius: 4px;
    overflow: hidden;
    min-width: 250px;
}
.vrt-list-thumb .vrt-list-thumb-figure {
    height: 100%;
}
.vrt-list-thumb .vrt-list-thumb-figure img {
    height: 280px;
    width: 300px;
     object-fit: cover;  
}
.red-heart-box {
    top: 10px;
    right: 20px;
}
.form-check-input.red-heart-check {
    background-color: transparent !important;
    /* border-color: #0d6efd; */
}

.form-check-input.red-heart-check {
    height: 25px !important;
    width: 25px !important;
    box-shadow: none !important;
    border: none !important; 
    background-image: url(https://numberdekho.com/website/public/assets/front/images/wishlist.png) !important;
}
.vrt-list-content h4 {
    line-height: 1.2;
}
span.verified-badge {
    margin-left: 5px;
    position: relative;
    top: 2px;
    color: #0fb351;
}
.nd-ft-first {
    display: inline-flex;
    align-items: center;
    width: auto;
    position: relative;
}
.nd-rating {
    display: inline-flex;
    position: relative;
    margin-right: 10px;
    align-items: center;
}
.nd-rates {
    font-size: 9px;
    color: #ff9800;
}
.nd-price-range {
    font-size: 12px;
    color: #989bb1;
}
.vrt-list-amenties ul {
    margin: 0;
    padding: 0;
}
.vrt-list-amenties ul li {
    list-style: none;
    display: inline-block;
    margin: 5px 12px 5px 0;
    color: #1a1a1a;
}
.vrt-list-features ul li {
    display: inline-block;
    list-style: none;
}
.vrt-list-features ul li a {
    margin: 3px 5px 4px 0px;
    display: inline-block;
    padding: 2px 8px;
    background: #f4f5f7;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
    transition: all ease 0.4s;
}
.vrt-list-desc>p {
    line-height: 1.2 !important;
}
/* =================================business-details-banner section style ====================== */
.business-details-banner{
    width: 100%;
    height: 400px;
    background: linear-gradient(rgb(232 230 230 / 67%), rgb(205 201 201 / 69%)),url('../image/profile-banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.busines-details-profile-image{
    width: 200px;
    height: 200px;
    border: 1px solid #fff;
    overflow: hidden;
}
.profile-title-box{
    height: 120px;
}
.busines-details-profile-image img{
    width: 100%;
    height: 100%;
     object-fit: fill;
}
.radius-15{
    border-radius: 15px;
}
.card-img-top{
    height: 150px;
    /* object-fit: contain; */
}
.review-img{
    width:60px; height:60px;
    border-radius:100%; 
    border:1px solid green;
}
.review-img img{
    width:100%; 
    height:100%; 
    border-radius:100%; 
}

.margin-bottom{
    margin-bottom: 100px;
}

/* ================================= Profile page  style ====================== */
.profile-cover{
    width: 100%;
    height: 290px;  
    position: relative;
}
.profile-cover::before{
    position: absolute;
    content: '';
    background: #000000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.3;
}
.my-profile-image{
    width: 150px;
    height: 150px;
    border: 4px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}
.my-profile-image img{
    width: 100%;
    height: 100%;
     object-fit: fill;
}
.nd-dashboard-nav {
    display: block;
    border-radius: 6px;
    padding-bottom: 30px;
    z-index: 1;
    background: #fff;
}
.nd-dashboard-inner {
    position: relative;
    display: block;
    padding: 10px 0 25px 0;
}
.nd-dashboard-nav ul:first-child {
    margin: 30px 0 0 0;
}
.nd-dashboard-nav ul:before {
    content: attr(data-submenu-title);
    padding: 0 30px;
    margin-bottom: 5px;
    display: block;
    color: #172228;
    font-weight: 500;
    font-size: 14px;
}
.nd-dashboard-nav ul li {
    display: block;
    border-left: 3px solid transparent;
    transition: 0.3s;
    line-height: 20px;
    font-size: 14px;
}
.nd-dashboard-nav ul li a {
    color: #555962;
    display: block;
    padding: 12px 25px;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 400;
    position: relative;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.nd-dashboard-nav ul li.active a, .nd-dashboard-nav ul li:hover a {
    color: var(--green);
}
.nd-dashboard-nav ul li.active, .nd-dashboard-nav ul li:hover {
    border-color: var(--green);
    background-color: rgba(27, 244, 59, 0.1);
}
/* .dash-figure-thumb img{
    height: 170px; 
    width: 170px;
} */
.Uploadphoto {
    float: left;
    position: relative;
    /* padding: 15px 30px; */
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    background: #f41b3b;
    width: 100%;
    text-align: center;
}

.custome-form-select{
    box-shadow: none!important;
    outline: none!important;
    
}
