@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carme&family=Port+Lligat+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carme&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Port+Lligat+Sans&display=swap');

/*  ================ Table of Content End ================
        1. Fonts
        2. Reset
        3. Variables
        4. Global
        5. Header
        6. Home
        

    ================ Table of Content End ================ */
/*------------------------------------------------------------
	Page Loading
-------------------------------------------------------------*/
/* .no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.counter {
    animation-duration: 1s;
    animation-delay: 0s;
}

.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: url(../image/loader.gif) center no-repeat #1c1c1c;
} */
/* ********************* Sticky Cllasses ********************* */

.sticky {
    position: fixed;
    top: 0 !important;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--green-light);
    box-shadow: 0 13px 35px -12px rgba(61, 82, 96, .2);
    animation: stickyMenu 0.75s ease-in-out;
}

@keyframes stickyMenu {
    0% {
        margin-top: -120px;
        opacity: 0;
    }

    50% {
        margin-top: -64px;
        opacity: 0;
    }

    100% {
        margin-top: 0px;
        opacity: 1;
    }
}
/*======== Fonts ======== */
.carme {
    font-family: 'Carme', sans-serif;
}

.mont-regular {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.port {
    font-family: 'Port Lligat Sans', sans-serif;
    font-weight: 400;
}

.mont-medium {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/*======== Fonts Size ======== */
.fs-10 {
    font-size: 10px;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-19 {
    font-size: 19px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-30 {
    font-size: 30px;
}

.fw-medium {
    font-weight: 500;
}

/* ======== Reset ======== */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:active,
a:focus {
    outline: none;
}


/* ======== Variables ========*/

:root {
    --green: #008000;
    --green-light: #e9f8eb;
    --section-bg: #f4f4f7;
}


/* ======== Global ========*/

html {
    scroll-behavior: smooth;
}

body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: 'Jost', sans-serif;
}

.gap {
    gap: 10px;
}

/* ======== BackGround ========*/
.bg-green {
    background-color: var(--green);
}

.sec-bg {
    background: var(--section-bg);
}

/* ======== Color ========*/
.color-green {
    color: var(--green);
}

.sec-heading-title {
    color: #313030;
}

/* ======== Hover ========*/
.hover-green:hover {
    color: var(--green);
}

.hover-bg-green:hover {
    background: var(--green);
}

/* Mobile Navbar top style*/
.mobile-Navbar {
    width: 50px;
    height: 50px;
    background: #f4e5ea;
    border-radius: 50%;
}
.mobile-Navbar img{
    border-radius: 100%; 
     width:50px; 
     height:50px;
}
.nav-menu>li>a {
    padding: 9px 15px 9px 26px;
}
.nav-menu>li {
    width: 100%;
    position: relative;
    border-top: solid 1px #f0f0f0;
}
.mobile-menu-social-icon{
    width:20px;
    height:20px;
    margin-right: 16px;
}
.left-slidebar-img-box {
    width: 70px;
    height: 70px;
    border: 1px solid green;
    border-radius: 100%;
    margin: 12px 15px 12px 26px;
}
/*================================ Home Page style ================================ */

  .home-banner h1{
    font-size: 50px;
}  
.location-search,
.category-item-search {
    background: #fff;
    border: none;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 30%;
}

.main-search .form-control {
    background: #fff;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.main-search-button .btn {
    height: 56px;
    width: 120px;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.main-search .form-control::placeholder {
    color: #000;
}


/*================================ Popular Services Category ================================ */
.sec-heading-title h2 {
    font-size: 30px;
}

.nd-catg-wrap {
    position: relative;
    width: 100%;
    padding: 1rem 1rem;
    height: auto;
    /* background: #ffffff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    margin-bottom: 30px;
    transition: all ease 0.4s;
}

.nd-catg-wrap:hover,
.nd-catg-wrap:focus,
.nd-catg-wrap:active {
    box-shadow: 0 3px 5px #96f296;
    border: 1px solid #96f296;
}

.nd-catg-icon {
    width: 89px;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    border-radius: 50%;
    background: rgb(244 27 59 / 7%);
    font-size: 28px;
    color: green;
    transition: all ease 0.4s;
    overflow: hidden;
}

.nd-catg-icon img {
    width: 70px;
    height: 70px;
}

.nd-catg-wrap:hover .nd-catg-icon,
.nd-catg-wrap:focus .nd-catg-icon,
.nd-catg-wrap:active .nd-catg-icon {
    color: #ffffff;
    background: green;
}

.nd-catg-caption h4 {
    font-size: 16px;
}

/*=========================== advertiesment-banner ======================== */
.advertiesment-banner {
    /* padding: 0!important; */
    width: 100%;
    height: 257px;
    background-image: url('../image/banner22.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.counter-effect:after {
    content: "";
    position: absolute;
    top: 23px;
    right: -8px;
    width: 1px;
    height: 128px;
    background: linear-gradient(0deg, rgba(45, 148, 73, 0.38) 0%, rgba(45, 113, 51, 1) 51%, rgba(45, 148, 73, 0.3785889355742297) 96%);
}

.counter-effect:before {
    content: "";
    position: absolute;
    left: 103px;
    bottom: 0;
    width: 140px;
    height: 1px;
    background: linear-gradient(90deg, rgba(45, 148, 73, 0.38) 0%, rgba(45, 113, 51, 1) 51%, rgba(45, 148, 73, 0.3785889355742297) 96%);

}

/* mobile view card banner */
.Mobile-view-card-body {
    background-color: #15596F !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.custome-locatin-img {
    height: 100px;
}

.banner img {
    height: 150px;
}

/* Popular Services scrolabel */
.no-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Popular {
    background-color: #d3d3d2 !important;
    margin-top: -31px;
    opacity: 0.8;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Popular-shopsi-title {
    bottom: -10px;
    background: rgba(0, 0, 0, 0.8) !important;
    width: 80%;
}

/* ******************************Popular Outlet ************************ */
.popular-parents {
    transition: all 0.5s ease-in-out;

}

.popular-parents:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgb(30 32 46 / 8%);
    border: 1px solid #96f296;
    border-radius: 10px;
}

.our-popular img {
    height: 250px;
    width: 360px !important;
    object-fit: cover;
}

/******************************* Download the AAp banner **********************/
.bg-light-danger {
    background-color: #ffeced;
}

/* ======================= Mobil View ====================== */

.iphone-back{
    background: url('../image/iphone-back.png') no-repeat center top;
    height: 495px;
}
.iphoneBack {
    background: url('../image/iphone.png') no-repeat center top;
    height: 495px;
    margin-top: 65px;
}

.iphoneBack .screen {
    padding: 0 0px 0px;
    height: 340px;
    background: #242a2f;
    overflow: hidden;
    width: 160px;
    margin: 0 auto 0;
    position: relative;
    top: 36px;
    left: 1px;
}
 

.swiper-container {
    width: 100%;
    overflow: hidden;
    height: 100%;

}

.swiper-wrapper {
    height: 100%;
    width: 100%;
}

.swiper-container img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.mySlides {
    display: none;
}

/* Footer Banner */
.footer-banner {
    padding: 0 !important;
    width: 100%;
    height: 75px;
    background: linear-gradient(90deg, rgba(44, 74, 26, 0.804359243697479) 0%, rgba(45, 148, 73, 0.9780287114845938) 96%);
}

.form-control.cus-form {
    height: 33px !important;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 1px;
    border-color: #eee;
    color: #2b2e30;
    box-shadow: none!important;

}

.cus-btn {
    height: 33px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 6px 15px!important; */
}

/*========================= Footer Styling Section ================== */
footer {
    z-index: 99;
    font-size: 14px;
    color: #565656;
    position: relative;
}

.br-top {
    border-top: 1px solid #eef2f5 !important;
}

.footer_widget {
    text-align: left;
    padding: 60px 0 25px;
}

img.img-footer.small {
    margin: 0;
    max-width: 150px;
    position: relative;
    top: 2px;
}

h4.widget_title {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}

.footer_widget ul {
    padding: 0;
    margin: 0;
    padding: 0 15px;
}

.footer_widget ul li {
    list-style: none;
    margin-top: 5px;
    display: block;
}

.footer_widget ul li a {
    color: #60626a;
    font-size: 14px;
}

.footer_widget ul.list-inline li,
ul.list-inline li {
    display: inline-block;
    margin-right: 15px;
}

/******************************* Mobile Footer ********************* */
.modal-backdrop {
    z-index: 1043 !important;
}

.bottom-nav {
    box-shadow: 0px -3px 2px 0px #eeeeee;
} 

.bottom-nav-list {
    height: 75px
}

.bottom-nav-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.addbusiness-icon {
    width: 70px !important;
    height: 70px !important;
    border-radius: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background: #000 !important;
    color: #fff !important;
    border: 5px solid #f2f2f2;
}

.border-btm {
    border-bottom: 5px solid #dee2e6 !important;
}
